#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

.navigation{      
    position: relative;
    width: 50px;
    height: 50px;
    background: #fff;
    transition: width 0.3s, height 0.3s;
    transition-delay: 0s, 0.50s;
    z-index: 100000;
    border-radius: 4px;
    overflow: hidden;
}
.navigation.active{
    width: 50px;
    height: 220px;
    transition: height 0.3s, width 0.3s ;
    transition-delay: 0s, 0.50s;
}
.navigation .toggle{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #000000;
    transition: 0.5s;
    cursor: pointer;
    padding: 0.5rem;
}
.navigation .toggle.active{
    background: #000000;
}
.navigation .toggle::before{
    content: '+';    
    position: absolute;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:65px;
    height: 40%;
    color: rgb(250, 250, 250);
    font-weight: 800;
    transition: 0.3s;
}
.navigation .toggle.active::before{
    transform: rotate(315deg);
}

a{    
    display: flex;
}

.navigation a .icon{
    position: relative;
    display: block;
   
    min-width:  50px;
    font-size:  24px;
    color: #000000;
    line-height: 50px;
    text-decoration:none;
}


